# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist
/dev-dist

# misc
.DS_Store
*.pem
cookies.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/dev.db
prisma/dev.db-journal

# Secrets
course-plan-service/gcp-service-account.json
course-plan-service/.env

# Build cache
course-plan-frontend/.next/

course-plan-service/node_modules/
course-plan-frontend/node_modules/
